name: Build Android APK

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Unzip project
        run: |
          unzip quranApp.zip
          ls -la

      - name: Find Cordova project
        run: |
          if [ -f config.xml ]; then
            echo "Project in root"
            echo "APP_DIR=." >> $GITHUB_ENV
          else
            DIR=$(find . -name config.xml | head -n 1 | xargs dirname)
            echo "Found project in $DIR"
            echo "APP_DIR=$DIR" >> $GITHUB_ENV
          fi

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build APK
        run: |
          cd "$APP_DIR"
          cordova platform add android
          cordova build android

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: "**/app-debug.apk"          name: app-debug
          path: quranApp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
